<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Havoc__Copy_That.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Havoc__Copy_That.Properties.Settings>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="confirmDragDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="skins" serializeAs="String">
                <value />
            </setting>
            <setting name="soundOnFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundOnCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundOnFilesAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateManually" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="underMB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="overMB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="underGB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="overGB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileOnlyNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileFullPaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zipSeparrately" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zipTogether" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emailOnlyNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emailFullPaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onErrorClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onErrorStayOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closeProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="restartProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="versionPro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contextMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skinImage" serializeAs="String">
                <value />
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="multithreading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="priority" serializeAs="String">
                <value />
            </setting>
            <setting name="logFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="startWindows" serializeAs="String">
                <value>False</value>
            </setting>
        </Havoc__Copy_That.Properties.Settings>
    </userSettings>
</configuration>